{{>header}}
{{>navbar}}
<div class="row p-5">
    <div class="col-8">
        <h1>Capitán América</h1>
    </div>
    <div class="col-4">
        <img src="assets/img/capitan-america.png" alt="" class="img-thumbnail">
    </div>
</div>
{{>footer}}